:root {
    --grey-950: #09090B;
    --grey-900: #18181B;
    --grey-800: #27272A;
    --grey-700: #3F3F46;
    --grey-600: #52525B;
    --grey-500: #71717A;
    --grey-400: #A1A1AA;
    --grey-300: #D4D4D8;
    --grey-200: #E4E4E7;
    --grey-100: #F4F4F5;
    --grey-50: #FAFAFA;
    --orange: #ff2c00;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif, system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--grey-600);
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 100%;
    padding: 0 1.25em;
    margin: 0 auto;
    max-width: 1200px;
}

/* Navbar related styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1.25em;
    background-color: white;
    color: var(--grey-900);
    box-shadow: 0 0 1px rgba(9, 9, 11, 0.2);
}

.navbar .menu {
    display: flex;
    gap: 2em;
}

.navbar .menu a {
    color: var(--grey-500);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    padding: .625em 0;
    transition: all 0.3s;
}

.navbar .menu a:hover {
    color: var(--grey-900);
}

.navbar .menu a.active {
    color: var(--grey-900);
}

.burger {
    display: none;
    flex-direction: column;
    gap: 0.3em;
    cursor: pointer;
}

.burger div {
    width: 24px;
    height: 2px;
    background-color: var(--grey-900);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: white;
    padding: 4em 1em;
}

.mobile-menu a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    padding: .625em 0;
    color: var(--grey-900);
    text-align: center;
}

@media (max-width: 480px) {
    .navbar .menu {
        display: none;
    }

    .burger {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.active {
        display: flex;
        height: 100vh;
    }
}

.brand {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--grey-900);
    line-height: 1.25em;
    text-decoration: none;
}

h1 {
    font-weight: 800;
    font-size: clamp(1.75rem, 3vw, 3rem);
    color: var(--grey-950);
    margin-top: 1em;
    margin-bottom: .5em;
    line-height: 1.2em;
    letter-spacing: -0.01em;
}

h2 {
    font-weight: 800;
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--grey-950);
    margin-top: 1em;
    margin-bottom: .5em;
    line-height: 1.2em;
}

button {
    display: flex;
    padding: 0.8em 1.6em;
    border: none;
    border-radius: 2em;
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

#donate-btn {
    display: flex;
    background-color: var(--orange);
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 2em;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.mobile-menu #donate-btn {
    margin-top: 1em
}

#convert-btn, #startTestBtn, #restartBtn, #nextBtn {
    background-color: var(--grey-950);
    color: white;
}

#convert-btn:hover, #clear-btn:hover, #startTestBtn:hover, #restartBtn:hover, #nextBtn:hover, #donate-btn:hover, #prevBtn:hover {
    transform: scale(0.98);
    opacity: .8;
}


#clear-btn, #prevBtn {
    background-color: var(--grey-100);
    color: var(--grey-900);
}

.test-wrapper {
    max-width: 520px;
    margin: 5em auto;
}

.test-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-intro p {
    margin-bottom: 1.5em;
}

.question-container {
    display: none;
}

.question {
    margin-bottom: 1em;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5em;
    font-weight: 600;
    color: var(--grey-900);
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-bottom: 1em;
}

.answer-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .75em 1em;
    background-color: var(--grey-50);
    border-radius: .5em;
}

.answer-option:hover {
    background-color: var(--grey-100);
}

.answer-option input {
    margin-right: 0.5em;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: .75em;
    margin-top: 3em;
}

.results {
    display: none;
    opacity: 0;
    animation: slideInFromBottom 1s forwards ease;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(120px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.results p {
    margin-bottom: 1.5em;
}

.final-buttons {
    display: flex;
    gap: .75em;
    animation: fadeIn 0.5s ease 1s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.editable-div {
    width: 100%;
    height: 15em;
    padding: 1.125em 1.5em;
    border: 1px solid var(--grey-200);
    border-radius: 1.5em;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
    overflow-y: auto;
    outline: none;
    color: var(--grey-900);
    cursor: text;
}

.editable-div:focus {
    border-color: #FBBF24;
}

.editable-div[placeholder]:empty:before {
    content: attr(placeholder);
    color: var(--grey-500);
}

.btn-group {
    display: flex;
    gap: .75em;
    margin-bottom: 2em;
}

#output-text {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    line-height: 1.5em;
    color: var(--grey-950);
    margin-bottom: 2em;
}

#output-text h1 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: clamp(1.75rem, 2.25vw, 2.25rem);
}

#output-text h2 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

#output-text h3 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: clamp(1.25rem, 1.75vw, 1.75rem);
}

#output-text h4, 
#output-text h5, 
#output-text h6 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

#output-text ul, 
#output-text ol {
    padding-inline-start: 1em;
}

.word {
    display: inline-block;
    border-radius: 0.3em;
    padding: 0 0.3em 0.15em;
    margin: 0 0.1em 0.6em 0;
}

.syllable {
    padding: 0 0.15em;
}

.progress-bar {
    width: 100%;
    background-color: var(--grey-100);
    border-radius: 2px;
    height: 4px;
    margin-bottom: 24px;
}
.progress {
    height: 100%;
    width: 0;
    background-color: var(--orange);
    border-radius: 2px;
}

#snackbar {
    visibility: hidden;
    min-width: 240px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    border-radius: .25em;
    padding: .75em 1.25em;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100px);
    z-index: 1000;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.4s ease-out, visibility 0.4s ease-out, transform 0.4s ease-out;
}
  
#snackbar.show {
    visibility: visible;
    transform: translate(-50%, 8px);
    opacity: 1;
}
  